.phrase{
	background: white;
	border: none;
	padding: 0px !important;
	margin: 0px !important;
	margin-right: 0.3em !important;
	border-radius: 0px;
	line-height: 100%;
	display: inline-block;
	white-space: pre !important;
	word-break: normal !important;
	word-wrap: normal !important;
}

.mute{
	color:lightgrey;
}

.alts{
	color:sandybrown;
}
.alts a{
	text-decoration:underline;
	color:inherit;
}
.sidebar{
	float:right;
	padding:2px;
	background:white;
}
.section-header{
	font-size: small;
	color:lightgray;
	text-transform:small-caps;
}


.join span.string{
	margin-left: -4px !important;
}

.dl-horizontal dt{
	width: 100px !important;
}
.dl-horizontal dd{
	margin-left: 120px !important;
}
dt{
	font-weight: normal;
	color: lightgrey;
}

.panel-heading{
	font-size: large;
}

textarea{
	font-family: monospace;
}

hr{
	margin:0px;
	padding:0px; 
	margin-bottom:5px;
}
h2{
	margin-top:0px;
}
